body {
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #fff;
}

img{
  width: 200px;

}
.app-header {
  width: 100%;
  height: auto;
}

.app-content {
  padding: 50px;
}