@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border:none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
  transition: width none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App{
  min-height: 100vh;
  overflow:auto;
  display:flex;
  flex-direction:column;
}

:root{
  --yellow: #FFFDC9;
  --orange: #ED8728;
  --black: #444444;
  --border:0.1rem solid rgba(0,0,0,0.1);
  --border-hover:0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

html{
  font-size: 62.5%;
  overflow:auto;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--black);
}

.header .header_one .icons .dropDownProfile .list a{
  font-size: 1rem;
  margin-left:-0.1rem;
}

.header .header_one{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  background: #ffffff;
}

.header .header_one .logo .image{
  width: 200px;
}

.header .header_one .search-form{
  width: 50rem;
  height: 4rem;
  border: var(--border);
  overflow: hidden;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.header .header_one .search-form input{
  font-size: 1.2rem;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
  border: var(--border);
}

.header .header_one .search-form label{
  font-size: 2.5rem;
  padding: 1.5rem;
  line-height: 20px;
  color: var(--black);
  cursor: pointer;
}

.header .header_one .search-form label:hover{
  color: var(--white);
}

.header .header_one .icons{
  display: flex;
  align-items:center;
}

.header .header_one .icons div {
  font-size: 1rem;
  margin-left: 1.5rem;
  cursor: pointer;
  margin-bottom:0.8rem;
}

.header .header_one .icons img {
  cursor: pointer;
  width: 3rem;
  color: var(--black);
}

.masuk-btn {
  display:inline-block;
  padding: 0.7rem 2rem;
  color: #ffffff;
  border-radius:0.5rem;
  background:var(--orange);
  border: 1px solid var(--orange);
  cursor:pointer;
  font-weight:700;
  font-size: 0.2rem;
}

.masuk-btn:hover {
  display:inline-block;
  padding: 0.7rem 2rem;
  color: var(--orange);
  border-radius:0.5rem;
  background:var(--white);
  border: 1px solid var(--orange);
  cursor:pointer;
  font-weight:700;
  font-size: 0.2rem;
}

.header .header_one .icons a {
  font-size: 2rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header_one .icons div:hover,
.header .header_one .icons a:hover {
  color: var(--orange);
}

#search-btn{
  display: none;
}

@media(max-width:991px){
  html{
    font-size:55%;
  }
  .header .header_one{
    padding: 2rem;
  }
}

.user-btn{
  background-color:#fffffff;

}

.login-form-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(255,255,255,0.9);
  position: fixed;
  top:0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width : 100%;
}

.login-form{
  right:0;
}

.login-form-container form{
  background: #ffffff;
  border: var(--border);
  width: 40rem;
  padding: 2rem;
  box-shadow: var(box-shadow);
  border-radius:0.5rem;
  margin:2rem;
  position:fixed;
}

.login-form-container form h3{
  font-size: 2.5rem;
  text-align:center;
  /* text-transform: uppercase; */
  color: var(--black);
}

.login-form-container form input{
  font-size:1.5rem;
  margin-top:2rem;
  margin-bottom:1.5rem;
  padding:1rem;
  border: var(--border);
  width:100%;
}

.login-form-container form .btn{
  text-align:center;
  width:30%;
  margin:1.5rem 12rem;
}

.btn{
  margin-top: 1rem;
  display:inline-block;
  padding: 0.9rem 3rem;
  color: #ffffff;
  border-radius:0.5rem;
  background:var(--orange);
  border: 1px solid var(--orange);
  cursor:pointer;
  font-weight:700;
}

.btn:hover{
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}

.login-form-container form p{
  padding-top:0.8rem;
  font-size:1.5rem;
  text-align:center;
}

.login-form-container form p a{
  text-decoration:underline;
  color:var(--orange);
}

.login-form-container #close-login-btn{
  position:absolute;
  top:1.5rem;
  right:2.5rem;
  font-size:4rem;
  cursor:pointer;
}

/* register */
.register-form-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* position: fixed; */
  /* top:15rem; */
  /* z-index: 10000; */
  height: 100%;
  width : 100%;
  margin: 5rem 0;
}

.register-form-container form{
  background: #ffffff;
  width: 40rem;
  margin:1rem;
}

.register-form-container form h3{
  font-size: 2.5rem;
  text-align:center;
  color: var(--black);
}

.register-form-container form .checkbox{
  display: flex;
  align-items:center;
  vertical-align: middle;
  word-wrap: break-word;
  justify-content: start;
  padding: 1rem 0;
  width:100%;
  gap:1rem;
  font-size:1.4rem;
}

.register-form-container form .box{
  font-size:1.5rem;
  margin-top:2rem;
  margin-bottom:1rem;
  padding:1rem;
  border: var(--border);
  width:100%;
}

.register-form-container form .btn{
  text-align:center;
  width:30%;
  margin:1.5rem 12rem;
}

.register-form-container form p{
  padding-top:0.8rem;
  font-size:1.5rem;
  text-align:center;
}

.register-form-container p a{
  text-decoration:underline;
  color:var(--orange);
  cursor:pointer;
}

.register-form-container p{
  font-size:1.5rem;
  text-align:center;
  margin-left:-4rem;
}

.dropDownProfile{
  position: fixed;
  right: 13rem;
  width:6rem;
  margin-top: 1rem;
  border-radius:1rem;
  background-color:#fffffff;
  border: 1px solid gray;
  text-decoration:none;
}

li{
  list-style:none;
  padding:1rem;
}

/* Profile */
.profile-container{
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* position: relative; */
  /* margin:1rem; */
}

.profile-form-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* position: fixed; */
  /* margin:1rem; */
  z-index: 10000;
  height: 70%;
  width : 100%;
  
}

.profile-form{
  right:0;
}

.profile-form-container form{
  background: #ffffff;
  width: 40rem;
  margin:1rem;
}

.profile-form-container form .box{
  font-size:1rem;
  /* margin-top:2rem; */
  margin-bottom:1rem;
  padding:1rem;
  border: var(--border);
  width:100%;
}

.profile-form-container form .btn{
  text-align:center;
  width:30%;
  margin-left:14rem;
}

.profile-form-container form h2 label{
  font-weight:600;
  font-size:1rem;
  /* margin-top:2rem; */
}

/* Row for showing profile and address */
.row{
  align-items:center;
  display:flex;
  justify-content:center;
  margin-top:1.5rem;
}

.row ul {
  list-style:none;
}

.row ul li{
  display:inline;
  text-align:center;
}

.row ul li:hover{
  color: var(--white);
  cursor:pointer;
  /* background: var(--orange); */
}

.activeColor{
  padding-top:5px;
  height:30px;
  width:5%;
  border:1px solid grey;
  background-color: var(--orange);
  color: #ffffff;
  cursor:pointer;
  text-align:center;
}

.pointer{
  cursor:pointer;
}

.profile-form-container form .radio{
  display: flex;
  align-items:center;
  vertical-align: middle;
  word-wrap: break-word;
  justify-content: start;
  padding: 1rem 0;
  width:100%;
  gap:1rem;
  font-size:1rem;
}

.content{
  display:none;
}

.show-content{
  display: block;
}

/* Address */
.address-form-container {
  display:flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
 /* position: fixed;*/
  margin:3rem auto 3rem 8rem;
  z-index: 10000;
  height: 70%;
  width : 90%;
  font-size:1.5rem;
}

table{
  width:100%;
  margin-top:3rem;
  border-collapse: collapse;
}

th{
  border:1px solid black;
  text-align:center;
  font-weight:600;
}

tr, td{
  border:1px solid black;
  text-align:center;
}

/* add-address form */
.add-address-form-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin:1rem 0;
  z-index: 10000;
  /* height: 80%; */
  width : 100%;
  margin-bottom:7rem;
}

.add-address-form{
  right:0;
  flex:1;
}

.add-address-form-container form{
  background: #ffffff;
  width: 40rem;
  margin:1rem;
}

.add-address-form-container form h2 label{
  background: #ffffff;
  width: 40rem;
  /* margin:1rem; */
  font-weight:600;
  font-size:1rem;
}

.add-address-form-container form .box{
  font-size:1rem;
  /* margin-top:2rem; */
  margin-bottom:1rem;
  padding:1rem;
  border: var(--border);
  width:100%;
}

.add-address-form-container form .btn{
  text-align:center;
  width:30%;
  margin-left:14rem;
}

.footer{
  margin-top:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--yellow);
  text-align: center;
  padding: 10px 0;
}

.green-btn{
  margin-top: 1rem;
  display:inline-block;
  padding: 0.9rem 3rem;
  color: var(--orange);
  border-radius:0.5rem;
  background:var(--white);
  border: 1px solid var(--orange);
  cursor:pointer;
  font-weight:700;
}

.green-btn:hover{
  color: var(--orange);
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.red-btn{
  margin-top: 1rem;
  display:inline-block;
  padding: 0.9rem 3rem;
  color: #ffffff;
  border-radius:0.5rem;
  background:var(--orange);
  border: 1px solid var(--orange);
  cursor:pointer;
  font-weight:700;
}

.red-btn:hover{
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}


form ul {
  list-style:none;
  justify-content:center;
  align-items:center;
  text-align:center;
}

form ul li{
  display:inline;
  text-align:center;
}

.address-form-container .subtotal{
  margin:3rem 0 auto auto;
  justify-content:flex-end;
}

.container{
  width: 80%;
  margin:0 10%;
}

.description-container{
  justify:left;
  margin-top:3rem;
  font-size:1.3rem;
}